* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}


/* primary styles */
.primary-titles {
    font-size: 45px;
}

.primary-btn {
    background-color: #FF900E;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    width: 180px;
    color: white;
    height: 64px;
    border-radius: 10px;
}

/*...................................... style header  */
header {
    background-color: #FF900E1A;
    height: 1250px;
}

/* ..........style nav ........ */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h2 {
    margin-top: 55px;
}

nav ul {
    display: flex;
    gap: 24px;
    margin-top: 55px;
}

ul li {
    list-style: none;

}

/* .............style banner........ */
.banner-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.banner {
    width: 1300px;
}

.banner h1 {
    font-size: 65px;
    margin-bottom: 53px;
}

.banner-text {
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
    margin-top: 50px;

}