* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}


/* primary styles */
.primary-titles {
    font-size: 45px;
}

.primary-btn {
    background-color: #FF900E;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    width: 180px;
    color: white;
    height: 64px;
    border-radius: 10px;
}

/*...................................... style header  */
header {
    background-color: #FF900E1A;
    height: 1250px;
}

/* ..........style nav ........ */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h2 {
    margin-top: 55px;
}

nav ul {
    display: flex;
    gap: 24px;
    margin-top: 55px;
}

ul li {
    list-style: none;

}

/* .............style banner........ */
.banner-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.banner {
    width: 1300px;
}

.banner h1 {
    font-size: 65px;
    margin-bottom: 53px;
}

.banner-text {
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
    margin-top: 50px;

}

/* ................................................style main */


/* ...................style quick section  */
.quick-section {
    display: flex;
    align-items: center;
    margin: 80px 100px 130px 140px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-right: 80px;
}

.text-container h2 {
    margin-bottom: 24px;
}

.text-container p {
    margin-bottom: 33px;
}

/* ..................style feature section.... */
.feature-section {
    display: flex;

}

.feature-containers h2 {
    border-left: 3px solid #FF900E;
}

.feature-containers p {
    margin-top: 24px;
    margin-bottom: 24px;
}

.feature-container {
    width: 550px;
    height: 110px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px;
    margin-bottom: 20px;
    padding: 30px;
}


.feature-container h3 {
    font-size: 20px;
    margin-bottom: 14px;
    margin-top: 14px;

}

.feature-container p {
    color: #727272;
}